<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>HUDA BAR</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>NAMING <br>LOGO <br>PACKAGING</h4>
      <h3></h3>
      <h2>Enabling Entreprenuership</h2>
      <p>Huda Bars are very much a personal expression of the ethical and healthy-living beliefs of it’s creator. After spending years fine-tuning her passion for making high-quality energy bars, Huda came to us for the finishing touches. But despite going pro, she wanted to retain the personal approach. We kept this in mind while designing a homely, but representative logo (which is actually an infographic recipe of the bar itself!).</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/huda/hudabar-logo.jpg" alt="head-img" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/huda/hudabar.jpg" alt="huda" style="width:200%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/huda/hudabar1.jpg" alt="huda1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">Letting the product advertise itself</h2>
        <p style="bottom:30px">We put a lot of research into finding the right material for a simple and functional packaging that both preserved and revealed the freshness of the locally sourced nutrients within. Our extensive research revealed that this was what Huda’s customer base would love to see: air-tight, recyclable carriers so they could get their energy fix on the go.
        </p>
      </div>
    </div>
  </div>
</div>