<div class="container">
  <div class="row">
    <div class="col-sm-12" id="branding-title">
      <h2>BRANDING</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-5 in-branding">
      <h4>BRANDING DEVELOPMENT
        <br> + STYLE GUIDES
      </h4>
      <h3></h3>
      <p>When you work with us, you’re working with a whole team of specialists completely in-tune with your business goals. Your online strategy is tailored to your website and your business to ensure that you’re not losing ground on approaches that simply aren’t working.</p>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12">
      <img src="../../../assets/images/capabilities-sub/branding/branding-name1.jpg" alt="branding" width="100%">
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12">
      <img src="../../../assets/images/capabilities-sub/branding/branding-name.jpg" alt="branding1" width="100%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 in-branding" style="margin-left:7%">
      <h4>LOGO AND IDENTITY
        <br> + NAMING </h4>
        <h3></h3>
        <h2>First Impressions
          <br>
          lasts the longest
        </h2>
        <p style="width:260px;text-align:left">In a market plagued by choice, we understand how crucial it is to stay distinguished. Together, we work towards creating an identity for your brand that is reflected in it’s name, logo and various interfaces.</p>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="row">
    <div class="col-sm-12 in-branding">
      <h4>EXAMPLES OF WORK</h4>
      <h3></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 example1" id="savyasachi">
      <img (click)="open1()" id="ex-img1" src="../../../assets/images/capabilities-sub/branding/savya.jpg" alt="savya">
      <div class="row div1" id="div1">
        <div class="container-fluid">
          <div class="container">
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, minima a pariatur animi eligendi accusamus magnam nostrum voluptates deserunt ipsa odit dolore. Voluptatem velit accusamus error itaque, minima totam voluptate.</p> -->
            <app-savyasachi></app-savyasachi>
            <div class="close-button">
              <button (click)="close('div1')">X</button>
            </div>
          </div>
        </div>
      </div>
      <h3 id="img-name1">SAVYASACHI</h3>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 example2" id="hudabar">
      <img (click)="open2()" id="ex-img2" src="../../../assets/images/portfolio/huda.jpg" alt="huda">
      <div class="row div2" id="div2" style="display:none">
        <div class="container-fluid">
          <div class="container">
            <app-huda-bar></app-huda-bar>
            <div class="close-button">
              <button (click)="close('div2')">X</button>
            </div>
          </div>
        </div>
      </div>
      <h3 id="img-name2">HUDA BAR</h3>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 example3" id="lakeview">
      <img (click)="open3()" id="ex-img3" src="../../../assets/images/capabilities-sub/branding/lakeview.jpg" alt="lakeview">
      <div class="row div3" id="div3" style="display:none">
        <div class="container-fluid">
          <div class="container">
            <app-lakeview></app-lakeview>
            <div class="close-button">
              <button (click)="close('div3')">X</button>
            </div>
          </div>
        </div>
      </div>
      <h3 id="img-name3">LAKEVIEW</h3>
    </div>
  </div>
</div>