<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>AKSHARA <br> FOUNDATION</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>WEBSITE<br> ILLUSTARTION <br> STRATEGY</h4>
      <h3></h3>
      <h2>Creativity for a cause</h2>
      <p>One of our most fulfilling undertakings was reinventing the website of the celebrated Akshara Foundation, which has secured a quality education for thousands of underprovided children.</p>
      <a href="https://akshara.org.in/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/akshara/akshara.jpg" alt="logo" width="100%" height="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/akshara/aksharalaptop.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/akshara/aksharalaptop1.jpg" alt="laptop2" width="98%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/akshara/aksharalaptop2.jpg" alt="laptop3" width="100%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">Content=Communication+ <br> Intent</h2>
        <p style="bottom:30px">After much sifting, sorting and planning, we simplified this bulk of information, photos, videos and statistics by creating over-arching symbols that encapsulated the crux of each of their communication objectives. This got our creative juices flowing, and over the months, we used these tools to elucidate their initiatives and accomplishments.
        </p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>