<div class="container-fluid" style="background-color:#f7f7f7;padding-bottom:5%">
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:center;font-size:30px;margin-top:3%; font-family: bodoni-webfont; cursor: initial;">Ready to get in touch with us<br/>for amazing things?</p>
            <p style="text-align:center;font-size:30px;margin-top:3%; font-family: bodoni-webfont; cursor: initial; display: none;">Ready to get in touch?</p>
            <div class="empty-space">
            </div>
        </div>
        <form style="width:60%;margin-left:auto;margin-right:auto">
            <div class="form-group">
              <div class="col-md-4">
                <!-- <label for="name"></label> -->
                  <!-- <input type="text" class="form-control" name="name" id="name" ngmodel required placeholder="your name *"> -->
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
            </div>
        </form>    
    </div>
</div>
<footer class="footer" style="padding-bottom:1%">
    <div class="container">
          <div class="row">
          
          <div class="col-md-4 footer-nav" style="padding-top:2%;padding-right: 5%">
    
                  <a href="https://www.tip.agency/">Home</a>
                  <a href="our_capabilities">Capabilities</a>
                  <a href="portfolio">Portfolio</a>
                  <a href="career">Careers</a>
                  <a href="team">Team</a>
                  <a href="contact_us">Contact</a>                 
            
          </div>
          <div class="col-md-4 footer-tag" style="padding-top:1%">
              <!--	<img src="images/footer-logo.jpg" width="90%">  -->
            <table align="center">
              <tr>
                <td>
                  <a href="https://www.facebook.com/TIP.AGENCY" target="_blank"><img src="images/facebook.png" width="15"></a>
                </td>
                <td>
                  <a href="https://www.linkedin.com/company-beta/2719869/" target="_blank"><img src="images/linkedin.png" width="15"></a>
                  <!--<script type="IN/FollowCompany" data-id="2719869" data-counter="top"></script>-->
                </td>
              <td>
                  <a href="https://www.instagram.com/theintegratedpenguin/?ref=badge" class="ig-b- ig-b-24" target="_blank"><img src="/images/instagram.png" alt="Instagram" width="15" /></a>
                </td> 
                <!--<td>
                  <a href="https://www.facebook.com" target="_blank"><img src="images/twitter.png" width="20"></a>
                </td> -->
    
              </tr>
            </table> </div>
            <div class="col-md-3 footer-tag" style="padding-top:2%; float:right">
                <p style="font-size: 12px; color: #fff; font-family: gotham-book; ">COPYRIGHT @ 2017 | DIGITAL AGENCY TIP</p>
                </div>
            
   
            </div>
            </div>
            </footer>
