<div class="container-fluid" style="background-color:#f7f7f7;padding-bottom:5%">
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:center;font-size:30px;margin-top:3%; font-family: bodoni-webfont; cursor: initial;">Ready to get in touch with us<br/>for amazing things?</p>
            <p style="text-align:center;font-size:30px;margin-top:3%; font-family: bodoni-webfont; cursor: initial; display: none;">Ready to get in touch?</p>
            <div class="empty-space">
            </div>
        </div>
        <div class="container" style="margin-left:auto;margin-right:auto">
          <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)" novalidate >
            <div class="form-group">
              <div class="row" style="display: -webkit-box">
              <div class="col-md-4" style="width:100%">
                <label for="name"></label>
                <input type="text" class="form-control" formControlName="name" id="name" required placeholder=" Your Name *">
              </div>
              <div class="col-md-4">
                <label for="email"></label>
                <input type="email" formControlName="email" id="email" class="form-control" required placeholder="Your email *">
              </div>
              <div class="col-md-4">
                <label for="subject"></label>
                <input type="text" formControlName="subject" id="subject" class="form-control" required placeholder="Subject *">
              </div>
            </div>
              <div class="col-md-12" style="margin-top: 3%;padding-left: 0px;padding-right: 0px">
                <label for="message" style="width:100%">
                  <textarea type="text" formControlName="message" id="message" class="form-control" required placeholder="Message *" style="width:100%"></textarea>
                </label>
              </div>
              <div class="col-md-12" style="margin-top: 3%" class="submit-btn">
                <label>
                  <button type="submit" name="submit" value="Submit" style=" position:relative;left:1%;color:#cacaca;background-color:#22252c" class="btn btn-default">
                  <p style="margin-bottom:0px;padding:0px 10px;font-size:10px">SUBMIT NOW</p>
                  </button>
                </label>
              </div>
            </div>

          </form>
        </div>
        <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
    </div>
</div>
<footer class="footer" style="padding-bottom:1%">
    <div class="container">
          <div class="row">
          
          <div class="col-md-4 footer-nav" style="padding-top:1%;padding-right: 5%">
    
                  <a routerLink="" target="_top">Home</a>
                  <a routerLink="capabilities" target="_top">Capabilities</a>
                  <a routerLink="portfolio" target="_top">Portfolio</a>
                  <a routerLink="career" target="_top">Careers</a>
                  <a routerLink="team" target="_top">Team</a>
                  <a routerLink="contact" target="_top">Contact</a>                 
            
          </div>
          <div class="col-md-4 footer-tag" style="padding-top:1%">
              <!--	<img src="images/footer-logo.jpg" width="90%">  -->
            <table align="center">
              <tr>
                <td>
                  <a href="https://www.facebook.com/TIP.AGENCY" target="_blank"><img src="../../../assets/images/footer/facebook.png" width="15"></a>
                </td>
                <td>
                  <a href="https://www.linkedin.com/company-beta/2719869/" target="_blank"><img src="../../../assets/images/footer/linkedin.png  " width="15"></a>
                  <!--<script type="IN/FollowCompany" data-id="2719869" data-counter="top"></script>-->
                </td>
              <td>
                  <a href="https://www.instagram.com/theintegratedpenguin/?ref=badge" class="ig-b- ig-b-24" target="_blank"><img src="../../../assets/images/footer/instagram.png" alt="Instagram" width="15" /></a>
                </td> 
                <!--<td>
                  <a href="https://www.facebook.com" target="_blank"><img src="images/twitter.png" width="20"></a>
                </td> -->
    
              </tr>
            </table> </div>
            <div class="col-md-4 footer-tag" style="padding-top:1%; float:right">
                <p style="font-size: 12px; color: #fff; font-family: GothamBook; ">COPYRIGHT @ 2017 | DIGITAL AGENCY TIP</p>
                </div>
            
   
            </div>
            </div>
            </footer>
