<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>KINGFISHER <br>OCTOBER FEST</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>WEBSITE <br> SOCIAL MEDIA</h4>
      <h3></h3>
      <h2>Generating a buzz</h2>
      <p>The Kingfisher Oktoberfest is one of the pub city’s most anticipated annual galas. On their 10th Anniversary, they wanted to step it up a few notches, making it grander than ever before.
        The brief: an interactive, user-friendly website and an engaging social media campaign where viewers wouldn’t have to sift through a hotchpotch of information to get the essentials.</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/kingfisher/kingfisher-logo.jpg" alt="kf-logo" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:0px;">
      <div class="row">
        <div class="col-md-offset-6 col-md-6 col-sm-12 col-xs-12">
          <img src="../../../assets/images/clients-sub/kingfisher/kingfisherlaptop.jpg" alt="laptop1" width="95%">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="../../../assets/images/clients-sub/kingfisher/kingfisherlaptop2.jpg" alt="laptop2" width="97.5%">
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px;">
      <img src="../../../assets/images/clients-sub/kingfisher/kingfisherlaptop1.jpg" alt="laptop3" width="91.5%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/kingfisher/kingfishersmedia.jpg" alt="media1" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px;">
      <img src="../../../assets/images/clients-sub/kingfisher/kingfishersmedia1.jpg" alt="media2" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px;">
      <img src="../../../assets/images/clients-sub/kingfisher/kingfishersmedia2.jpg" alt="media3" width="99%">
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12 ">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">The Great Indian October Fest</h2> <br>
        <p>As this was an event-specific project, we went in all guns blazing creating a website that kept the viewers updated and invested in the event. We generated and maintained this buzz using this medium to channelize all the event information, activities, star performers and special offers on avail at the click of a mouse. <br>
          The dynamic social media campaign kept us on our toes: replete with news, updates, contests and live posts from the venue.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>