a{
    color:black;
    padding:40px 15px 15px 15px;
}
.navbar-nav{
    flex-direction: row;
    padding:25px;
}
.nav-item{
    margin-right:35px;
}
nav ul li a:hover{
    border-bottom:3px solid #0072bc;
}
.logo_img{
    border-bottom:none;
}
.nav >li:last-child{
    padding-left:900px;
    float:right;
    margin-top: 40px;
}