a{
    color:black;
    padding:40px 15px 15px 15px;
}
.navbar-nav{
    flex-direction: row;
    padding:25px;
}
.nav-item{
    margin-right:35px;
}
nav ul li a:hover{
    border-bottom:3px solid #0072bc;
}
nav ul li a.active{
    border-bottom:3px solid #0072bc;
}
.logo_img{
    border-bottom:none;
}
.nav >li:last-child{
    padding-left:866px;
    float:right;
    margin-top: 40px;
}
.btn:focus{
    box-shadow: none;
}
.sticky-container {
    /* background-color: #333; */
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -119px;
    bottom: 120px;
    width: 200px;
    z-index: 1000;
}
.sticky li {
    list-style-type: none;
    background-color: transparent;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
}
.sticky li img {
    float: left;
    margin: 5px 5px;
    margin-right: 10px;
    border-radius: 16px;
}
.sticky li:hover{
    margin-left:-7px;
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);

}