<nav>
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="">HOME</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="capabilities">CAPABILITIES</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="portfolio">PORTFOLIO</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="clients">CLIENTS</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="career">CAREER</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="gaming">GAMING</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="portfolio">BLOG</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="team">TEAM</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="contact">CONTACT</a></li>
          <li style="border-bottom: none"><a style="border-bottom: none" href="https://www.tip.agency/"><img class="logo_img" src="../../../assets/images/header/tiplogo.png" alt="logo"></a></li>
      </ul>
  </div>
</nav>


