<nav>
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active" id="mydiv">
          <li class="nav-item"><a class="nav-link btn" routerLink="">HOME</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="capabilities">CAPABILITIES</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="portfolio">PORTFOLIO</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="clients">CLIENTS</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="career">CAREER</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="gaming">GAMING</a></li>
          <li class="nav-item"><a class="nav-link btn" href="https://tip.agency/blogs/">BLOG</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="team">TEAM</a></li>
          <li class="nav-item"><a class="nav-link btn" routerLink="contact">CONTACT</a></li>
          <li style="border-bottom: none"><a style="border-bottom: none" routerLink=""><img class="logo_img" src="../../../assets/images/header/tiplogo_web.png" alt="logo" width="200px" height="200px"></a></li>
      </ul>
  </div>
  <div class="sticky-container">
      <ul class="sticky">
        <li><a href="https://www.facebook.com/TIP.AGENCY/" target="_blank" style="border-bottom: none">
          <img width="32" height="32" title="" alt="" src="../../../assets/images/header/fb.png" />
          <p>Facebook</p>
         </a>
        </li>
        <li><a href="https://www.instagram.com/theintegratedpenguin/" target="_blank" style="border-bottom: none">
          <img width="32" height="32" title="" alt="" src="../../../assets/images/header/insta.png" />
          <p>Instagram</p>
        </a>
        </li>
        <li><a href="https://www.linkedin.com/company/the-integrated-penguin" target="_blank" style="border-bottom: none">
          <img width="32" height="32" title="" alt="" src="../../../assets/images/header/linkden.png" />
          <p>Linkedin</p> 
        </a>
        </li>
        <li><a href="https://twitter.com/tipagency" target="_blank" style="border-bottom: none">
          <img width="35" height="35" title="" alt="" src="../../../assets/images/header/twiter.png" />
          <p>Twitter</p>
        </a>
        </li>
      </ul>
    </div>
</nav>


