<div class="container">
  <div class="row">
    <div class="col-sm-12" id="contact-title">
      <h2>CONTACT US</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 contact-page" id="location">
      <img src="../../../assets/images/contact/location1.jpg" alt="location" style="width:93px">
      <h3>ADDRESS</h3>
      <hr style="width:150px">
      <p>167, 1st floor, 9th Cross Road, 1st stage, Indiranagar, Bengaluru, Karnataka</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 contact-page" id="share">
        <img src="../../../assets/images/contact/share1.jpg" alt="share" style="width:93px">
        <h3>SOCIAL</h3>
        <hr style="width:150px">
        <table align="center">
          <tbody>
            <tr>
              <td>
                <a href="https://www.facebook.com/TIP.AGENCY" target="_blank">
                <img src="../../../assets/images/footer/facebook.png" alt="facebook" style="width:20px">
                </a>
              </td>
              <td>
                <a href="https://www.linkedin.com/company-beta/2719869/" target="_blank">
                  <img src="../../../assets/images/footer/linkedin.png" alt="linkedin" style="width:20px;padding-right: 3px">
                </a>
              </td>
              <td>
                <a href="https://www.instagram.com/theintegratedpenguin/?ref=badge" target="_blank">
                  <img src="../../../assets/images/footer/instagram.png" alt="insta" style="width:20px">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 contact-page" id="email">
          <img src="../../../assets/images/contact/email2.jpg" alt="email" style="width:93px">
          <h3>EMAIL</h3>
          <hr style="width:150px">
          <p>hello@tip.agency</p>
        </div>
  </div>
</div>