<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>SAVYASACHI</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>LOGO, CONTENT <br> ILLUSTRATION <br> WEBSITE, PRINT <br> STATIONERY</h4>
      <h3></h3>
      <h2>A new game plan for <br>bigger ambitions</h2>
      <p>The team at Savyasachi came with the clear objective of a total image makeover to propel them into the niche market of luxury real estate. With 20 years of expertise in property consulting, construction and brokering services, they still needed a fresh outlook for their foray into premium housing and development.</p>
      <a href="http://savyasachigroup.com/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img id="savya-logo" src="../../../assets/images/clients-sub/savyasachi/savyasachi-logo.jpg" alt="logo" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/savyasachi/savyasachi-laptop1.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/savyasachi/savyasachi-laptop2.jpg" alt="laptop2" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/savyasachi/savyasachiimg3.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">Logo-istics</h2>
        <p style="bottom:0px">We started at the TIP (pun intended) of the pyramid, by first centering on a refurbished logo and colour scheme that would be applied across all their communication henceforth. After many months of experimenting, we had a logo that announced Savyasachi’s high-profile new avatar. 
          This primary step, took the most time, but was crucial in determining the overall theme. Using these tonal guidelines, the website, brochure and stationary flowed on, mirroring the class of the refurbished Savyasachi.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>