#title h2{
    margin-top: 0px;
    letter-spacing: 12px;
    font-family: gotham-light;
    font-size: 2.8em;
}
.in-title h4{
    font-family: 'GothamBook';
    letter-spacing: 4px;
    margin-top: 0px;
    line-height: 27px;
    font-size:18px;
}
.in-title p{
    width:280px;
    font-size: 14px;
    font-family: 'GothamBook';
}
.in-title h3{
    border-bottom: 2px solid #0072bc;
    padding-bottom: 0px;
    width: 110px;
    margin-top: 0px;
}
.empty-space{
    padding:15px;
}
.in-title h2{
    font-family: 'bodoni-webfont';
    margin-bottom:10px;
    margin-top:20px;
}
.in-title a{
    color:#707070;
    font-size:14px;
}
.in-title a:hover{
    color:#23527c;
}
.row{
    margin-bottom:7px;
}
.col-md-offset-4{
    margin-left:34%;
}
.text-last-row h2{
    font-family: 'bodoni-webfont';
    position: absolute;
    padding-left: 10px;
    font-size:30px;
}
.text-last-row p{
    font-size: 14px;
    font-family: gotham-book;
    position: absolute;
    /* bottom: -25px; */
    margin-bottom: 0px;
    width: 280px;
    padding-left: 10px;
}
.text-last-row{
    height:360px;
}
.col-md-4{
    max-width:32.3333%;
}