<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>LANCOME</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>APP</h4>
      <h3></h3>
      <h2>Consistency is the <br>hallmark of excellence</h2>
      <p>Lancôme is a French luxury perfumes and cosmetics house that distributes products internationally. It is a part of the L'Oreal Luxury Products division, which is its parent company and offers skin care, fragrances, and makeup at higher-end prices. 
        We developed an internal e- learning platform for them.</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/portfolio/lancome-logo.jpg" alt="logo" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/lancome/lancomelaptop.jpg" alt="laptop1" width="95%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/lancome/lancomelaptop1.jpg" alt="laptop2" width="95%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/lancome/lancomelaptop2.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">Being the best demands perfection</h2>
        <p style="bottom:30px">Developing an an e-learning platform from scratch in such a time crunch, was tricky; especially when working for such a reputable brand entailed flawlessness. The end result was a mobile app that was standardized in usability but also adapted to the unique language and cultural specifications for it's users in different regions.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>