<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>HOUSE OF <br> SATORI</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>ILLUSTRATION <br> WEBSITE</h4>
      <h3></h3>
      <!-- <h2>Consistency is the <br>hallmark of excellence</h2> -->
      <p>For this progressive startup that offers curated designer products, we understood that it was vital for them to create a first impression that made the viewer linger longer to discover.</p>
      <a href="http://www.houseofsatori.com/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/houseofsatori/hos-logo.jpg" alt="logo" width="105%" height="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/houseofsatori/hoslaptop.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/houseofsatori/hoslaptop1.jpg" alt="laptop2" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/houseofsatori/hoslaptop2.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">No detail too minor</h2>
        <p style="bottom:0px">After much conversation and trials, we centered on an overall feel of the brand that embodied the class and panache of the House Of Sartori.
        <br>
        <br>
        We ensured that this sense of sophistication was consistent not only in the logo, layout, colour palette and font selection, but was reflected in the design of the iconography and product tags that we created.
        </p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>