<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>JEAN ROCH</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-sm-12 in-title">
      <h4>WEBSITE</h4>
      <h3></h3>
      <h2>Showcasing an individual</h2>
      <p>It was exciting to craft a website for this internationally acclaimed singer-songwriter and music producer. Unlike our previous projects, this website was focused on promoting this creative genius in his various avatars.</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/portfolio/jeanroch-logo.jpg" alt="logo" width="110%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/jean roch/jeanroch.jpg" alt="laptop1" width="105%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/jean roch/jeanroch1.jpg" alt="laptop2" width="105%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/jean roch/jeanroch2.jpg" alt="laptop2" width="110%">
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>