<div class="container">
  <div class="row" id="title_name">
    <div class="col-sm-12">
      <h2>Select Clients
      </h2>
    </div>
  </div>
  <div class="row index-row">
		<div class="col-md-4 col-sm-4 col-xs-12 home_hover">
		<a href="#">
			<img src="../../../assets/images/clients/Government-of-karnataka.png" alt="GOK">
		</a>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 home_hover lancome" style="padding-left: 0px;">
			<a href="#">
			<img src="../../../assets/images/clients/Lancome.png" alt="lancome">
			</a>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px;">
			<a href="#">
			<img src="../../../assets/images/clients/Akshara-color.png" alt="akshara">
			</a>
		</div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover">
        <a href="#">
          <img src="../../../assets/images/clients/Kingfisher.png" alt="kf">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left:0px">
        <a href="#">
          <img src="../../../assets/images/clients/Leeco.png" alt="leeco">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/SelectHer.png" alt="SelectHer">
        </a>
      </div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover">
        <a href="#">
          <img src="../../../assets/images/clients/Thiashola.png" alt="Thiashola">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover seven_beans" style="padding-left: 0px">
        <a href="#" class="main">
          <img class="first" src="../../../assets/images/clients/Seven-beansb.w.png" alt="bw">
          <img class="second" src="../../../assets/images/clients/Seven-beans.png" alt="seven_beans">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover halliberi" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/Halliberri.png" alt="halliberi">
        </a>
      </div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover">
        <a href="#">
          <img src="../../../assets/images/clients/Kandavara.png" alt="Kandavara">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover savyasachi" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/SavyaSachi.png" alt="savya">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/The-Liberal-India.png" alt="liberal">
        </a>
      </div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover huda">
        <a href="#" class="main">
          <img class="first" src="../../../assets/images/clients/Clients-logo-clean.png" alt="hudabw">
          <img class="second" src="../../../assets/images/clients/Clients-logo-white-no-bg.png" alt="huda">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/Hypermonkey.png" alt="monkey">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/Counterculture.png" alt="culture">
        </a>
      </div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover lakeview">
        <a href="#">
          <img src="../../../assets/images/clients/Lakeview.png" alt="Lakeview">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover satori" style="padding-left: 0px">
        <a href="#" class="main">
          <img class="first" src="../../../assets/images/clients/house-of-satori-black.png" alt="bw">
          <img class="second" src="../../../assets/images/clients/house-of-satori.png" alt="house">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover" style="padding-left: 0px">
        <a href="#">
          <img src="../../../assets/images/clients/Olive-Energy.png" alt="olive">
        </a>
      </div>
    </div>
    <div class="row index-row">
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover">
        <a href="#">
          <img src="../../../assets/images/clients/White-Lotus.png" alt="lotus">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover django">
        <a href="#">
          <img src="../../../assets/images/clients/Django.png" alt="Django">
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 home_hover">
        <a href="#">
          <img src="../../../assets/images/clients/noetic-step.png" alt="noetic">
        </a>
      </div>
    </div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
</div>