<div class="container">
  <div class="row" style="display: inline-block">
    <div class="col-sm-12" id="title_name">
      <h2>OUR <br> PORTFOLIO</h2>
    </div>
  </div>
  <select name="division_select" id="division_select" style="float:right">
    <option value="All">Services</option>
    <option value="Branding">Branding</option>
    <option value="Strategy">strategy</option>
    <option value="Software">software</option>
    <option value="Web">website</option>
    <option value="Video">video</option>
    <option value="social">social media</option>
    <option value="content">content</option>
    <option value="print">print & packaging</option>
    <option value="illustration">illustration</option>
  </select>
  <div class="row" id="second-row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover" style="padding-right:0px;">
      <a href="">
        <img src="../../../assets/images/portfolio/sevenbeans-logo.jpg" alt="sevenbeans" width="99%">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px">
      <a href="">
        <img src="../../../assets/images/portfolio/kf.jpg" alt="kingfisher" width="99%" style="width:357px">
      </a>
    </div>
  </div>
  <div class="row" id="third-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover">
      <a href="">
        <img src="../../../assets/images/portfolio/nizanta-logo.jpg" alt="nizanta" width="99%">
      </a>
    </div>
  </div>
  <div class="row" id="fourth-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
      <a href="">
        <img src="../../../assets/images/portfolio/huda.jpg" alt="huda" width="99%">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
      <a href="">
        <img src="../../../assets/images/portfolio/lakeview.jpg" alt="lakeview" width="99%">
      </a>
    </div>
  </div>
  <div class="row" id="fifth-row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover" style="padding-left:0px">
      <a href="">
        <img src="../../../assets/images/portfolio/jeanroch-logo.jpg" alt="jeanroch" width="99%">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px">
      <a href="">
        <img src="../../../assets/images/portfolio/crafted_holidays.jpg" alt="crafted_holidays" width="99%">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover">
      <a href="">
        <img src="../../../assets/images/portfolio/lancome-logo.jpg" alt="lancome" width="99%">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
      <a href="">
        <img src="../../../assets/images/portfolio/craftedtrips.jpg" alt="trip" width="99%">
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
      <a href="">
        <img src="../../../assets/images/portfolio/sarayu.jpg" alt="sarayu" width="99%">
      </a>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:0px">
        <a href="">
          <img src="../../../assets/images/Home/thiashola-homepage.jpg" alt="thaishola" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left: 0px">
        <a href="">
            <img src="../../../assets/images/Home/hos (2).jpg" alt="HOS" width="99%" style="width:367px;">
        </a>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!-- <h2 style="margin-top:35%;padding-left:5px; font-family: 'bodoni-webfont';">Looking to stand out <br> in the clutter?</h2> -->
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover" style="padding-right:6px !important">
        <a href="">
            <img src="../../../assets/images/Home/kandavara-logo.jpg" alt="kandavara" width="99%" style="width:99.5%">
        </a>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
        <a href="">
          <img src="../../../assets/images/Home/savyasachi.jpg" alt="savyasachi" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-left:0px;padding-right:5px">
        <a href="">
          <img src="../../../assets/images/Home/aksharanew.jpg" alt="akshara" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding:20px 0px 0px 20px !important">
      <!-- <div class="akshara_info">
        <h4>ABOUT US</h4>
        <h3 style="border-bottom: 3px solid #0072bc;width: 110px;"></h3>
        <p>At TIP, we have a holistic approach towards crafting a brand that captures the essence and scope of its enterprise. Collaborate with our dynamic team of tech and creative specialists to design a multi-faceted platform that gets your business noticed where you want it to be.</p>
      </div> -->
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>
