<div class="container">
  <div class="row">
    <div class="col-sm-12" id="career-title">
      <h2>CAREERS</h2>
    </div>
  </div>
  <div class="row" style="margin-bottom:0px">
    <div class="col-md-4 col-sm-12 col-xs-12 developer" id="developer_id" style="padding-right:0px;padding-left:0px">
      <img id="image-dev" src="../../../assets/images/careers/developers_1.png" alt="div">
      <div class="row div1">
        <div class="col-md-12 in-image" style="padding-right: 0px;padding-left: 0px">
          <img src="../../../assets/images/careers/dev-head.png" alt="header_div" width="50%">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 in-career in-career-first">
            <h2>RESPONSIBILITIES</h2>
            <ul>
              <li>Setting up multi-site WordPress builds</li>
              <li>Customizing WordPress to support specific functionality</li>
              <li>Integrating feeds from social networks</li>
              <li>Custom developing blogs</li>
              <li>Integrating with third-party APIs</li>
              <li>Building out responsive layouts</li>
              <li>Developing wireframe mockups to illustrate possible solutions</li>
              <li>CRM integration</li>
            </ul>
            <!-- <h2>SELECTION PROCESS</h2> -->
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 in-career">
            <h2>SKILLS</h2>
            <ul>
              <li>Strong understanding of PHP back-end development.</li>
              <li>Good understanding of front-end technologies, including HTML5, CSS3, JavaScript, jQuery.</li>
              <li>Intermediate to advanced knowledge of WordPress.</li>
              <li>Knowledge of PHP frameworks (CodeIgniter, Symfony, Yii, Zend, etc). Laravel strongly desired.</li>
              <li>Knowledge of how to interact with RESTful APIs and formats (JSON, XML)</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 in-career">
            <h2>WORK EXPERIENCE</h2>
            <ul>
              <li>4 to 5 years</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
          <h2>SELECTION PROCESS</h2>
          <ul>
            <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from us within one week.</li>
          </ul>
        
        <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
        <div style="display:inline-block" class="col-md-6">
          <label>
            Attachment
            <input type="file" name="my_file" style="width:90%;font-size:8px">
          </label>
          <label style="display:none">
            Subject
            <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
          </label>
        </div>
          <div style="display:inline-block" class="col-md-6">
          <label>
            Portfolio Link
            <input id="link" type="text" name="link" style="font-size:8px">
          </label>
        </div>
        <label style="padding-left:25%;padding-top:4%">
            <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
        </label>
      </form>
      </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 content-writer" id="content-writer_id" style="padding-right:0px;padding-left:0px">
      <img id="image-content" src="../../../assets/images/careers/content_1.png" alt="content">
      <div class="row div2">
        <div class="col-md-12 in-image" style="padding-right:0px;padding-left:0px">
          <img src="../../../assets/images/careers/content-head.png" alt="content-head" width="50%">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 in-career in-career-first">
              <h2>RESPONSIBILITIES</h2>
              <ul>
                <li>Write & proofread content for various platforms (websites, blogs, social media content, emailers, press releases, articles, online ads, presentations)</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>SKILLS</h2>
              <ul>
                <li>Creative Thinking</li>
                <li>Multi-tasking</li>
                <li>Idea generation</li>
                <li>Knowledge of the editorial guidelines</li>
                <li>Proficiency in written and</li>
                <li>oral English</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>WORK EXPERIENCE</h2>
              <ul>
                <li>1 to 3 years</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
            <h2>SELECTION PROCESS</h2>
            <ul>
              <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from 
                  us within one week.</li>
            </ul>
          
          <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
          <div style="display:inline-block" class="col-md-6">
            <label>
              Attachment
              <input type="file" name="my_file" style="width:90%;font-size:8px">
            </label>
            <label style="display:none">
              Subject
              <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
            </label>
          </div>
            <div style="display:inline-block" class="col-md-6">
            <label>
              Portfolio Link
              <input id="link" type="text" name="link" style="font-size:8px">
            </label>
          </div>
          <label style="padding-left:25%;padding-top:4%">
              <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
          </label>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 human-resource" id="human-resource_id" style="padding-right:0px;padding-left:0px">
      <img id="image-hr" src="../../../assets/images/careers/HR_1.png" alt="hr">
      <div class="row div3">
        <div class="col-md-12 in-image" style="padding-right:0px;padding-left:0px">
          <img src="../../../assets/images/careers/hr-head.png" alt="hr-head" width="50%">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 in-career in-career-first">
              <h2>RESPONSIBILITIES</h2>
              <ul>
                <li>Recruitment</li>
                <li>Induction</li>
                <li>Financial Management (keeping track of invoices, money, salaries – all the good stuff)</li>
                <li>Researching and drafting internal policies to improve governance of employees</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>SKILLS</h2>
              <ul>
                <li>Ability to work cross-functionally across teams</li>
                <li>Organized</li>
                <li>People Focused</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>WORK EXPERIENCE</h2>
              <ul>
                <li>
                    1 to 3 years
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
            <h2>SELECTION PROCESS</h2>
            <ul>
              <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from us within one week.</li>
            </ul>          
          <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
          <div style="display:inline-block" class="col-md-6">
            <label>
              Attachment
              <input type="file" name="my_file" style="width:90%;font-size:8px">
            </label>
            <label style="display:none">
              Subject
              <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
            </label>
          </div>
            <div style="display:inline-block" class="col-md-6">
            <label>
              Portfolio Link
              <input id="link" type="text" name="link" style="font-size:8px">
            </label>
          </div>
          <label style="padding-left:25%;padding-top:4%">
              <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
          </label>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 graphic-design" id="graphic-design_id" style="padding-right: 0px;padding-left: 0px">
      <img id="image-gd" src="../../../assets/images/careers/GD_1.png" alt="gd" width="99%">
      <div class="row div4">
        <div class="col-md-12 in-image">
          <img src="../../../assets/images/careers/graph-desig-img.png" alt="gd-head">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 in-career in-career-first">
              <h2>RESPONSIBILITIES</h2>
              <ul>
                <li>Designing creatives/illustrations/characters/animation/stationery</li>
                <li>Strong, innovative, strategic and on-brand ideas for identity, packaging, space design and marketing communication projects</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>SKILLS</h2>
              <ul>
                <li>Knowledge of After Effects, 3D Animation, inDesign, Photoshop, Adobe Illustrator</li>
                <li>Experience in Branding, Packaging and Marketing Communication Design Projects</li>
                <li>Strong understanding of emerging practices and design methodologies</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>WORK EXPERIENCE</h2>
              <ul>
                <li>
                    3 to 5 years
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
            <h2>SELECTION PROCESS</h2>
            <ul>
              <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from us within one week.</li>
            </ul>          
          <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
          <div style="display:inline-block" class="col-md-6">
            <label>
              Attachment
              <input type="file" name="my_file" style="width:90%;font-size:8px">
            </label>
            <label style="display:none">
              Subject
              <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
            </label>
          </div>
            <div style="display:inline-block" class="col-md-6">
            <label>
              Portfolio Link
              <input id="link" type="text" name="link" style="font-size:8px">
            </label>
          </div>
          <label style="padding-left:25%;padding-top:4%">
              <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
          </label>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 social-media" id="social-media_id" style="padding-right:0px;padding-left:0px">
      <img id="image-sm" src="../../../assets/images/careers/socialmedia_1.png" alt="social">
      <div class="row div5">
        <div class="col-md-12 in-image">
          <img src="../../../assets/images/careers/socialmedia_1.png" alt="social-head">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 seo" id="seo_id" style="padding-right: 0px;padding-left: 0px">
      <img id="image-seo" src="../../../assets/images/careers/seo_1.png" alt="seo">
      <div class="row div6">
        <div class="col-md-12 in-image">
          <img src="../../../assets/images/careers/seo-spec-img.png" alt="seo-head">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>JOB BRIEF</h2>
              <ul>
                <li>We are looking for an SEO/SEM expert to manage all search engine optimization and marketing activities.
                    You will be responsible for managing all SEO activities such as content strategy, link building and keyword strategy to increase rankings on all major search networks. You will also manage all SEM campaigns on Google, Yahoo and Bing in order to maximize ROI.</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>RESPONSIBILITIES</h2>
              <ul>
                <li>Perform ongoing keyword research including discovery and expansion of keyword opportunities</li>
                <li>Execute tests, collect and analyze data, identify trends and insights in order to achieve maximum ROI in paid search campaigns</li>
                <li>Track, report, and analyze website analytics and PPC initiatives and campaigns</li>
                <li>Manage campaign expenses, staying on budget, estimating monthly costs and reconciling discrepancies.</li>
                <li>Optimize copy and landing pages for search engine marketing</li>
                <li>Research and implement search engine optimization recommendations both for paid and organic SEO success</li>
                <li>Research and analyze competitor advertising links</li>
                <li>Develop and implement link building strategy</li>
                <li>Work with the development team to ensure SEO best practices are properly implemented on newly developed code</li>
                <li>Work with editorial and marketing teams to drive SEO in content creation and content programming</li>
                <li>Recommend changes to website architecture, content, linking and other factors to improve SEO positions for target keywords.</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>REQUIREMENTS</h2>
                <ul>
                  <li>Proven SEO experience</li>
                  <li>Proven SEM experience managing PPC campaigns across Google, Yahoo and Bing.</li>
                  <li>Solid understanding of performance marketing, conversion, and online customer acquisition</li>
                  <li>In-depth experience with website analytics tools (e.g, Google Analytics, NetInsight, Omniture, WebTrends)</li>
                  <li>Experience with bid management tools (e.g., Click Equations, Marin, Kenshoo, Search Ignite)</li>
                  <li>Experience with A/B and multivariate experiments</li>
                  <li>Working knowledge of HTML, CSS, and JavaScript development and constraints</li>
                  <li>Up-to-date with the latest trends and best practices in SEO and SEM</li>
                  <li>BS/MS degree in a quantitative, test-driven field</li>
                </ul>
              <h2>WORK EXPERIENCE</h2>
              <ul>
                <li>
                    2 to 5 years
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
            <h2>SELECTION PROCESS</h2>
            <ul>
              <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from us within one week.</li>
            </ul>          
          <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
          <div style="display:inline-block" class="col-md-6">
            <label>
              Attachment
              <input type="file" name="my_file" style="width:90%;font-size:8px">
            </label>
            <label style="display:none">
              Subject
              <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
            </label>
          </div>
            <div style="display:inline-block" class="col-md-6">
            <label>
              Portfolio Link
              <input id="link" type="text" name="link" style="font-size:8px">
            </label>
          </div>
          <label style="padding-left:25%;padding-top:4%">
              <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
          </label>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 account" id="account_id" style="padding-right: 0px;padding-left: 0px">
      <img id="image-acc" src="../../../assets/images/careers/accnt_mnger2.png" alt="acc-manager">
      <div class="row div7">
        <div class="col-md-12 in-image">
        <img src="../../../assets/images/careers/accnt_mngr1.png" alt="acc-head">
        <div class="close-button">
          <button>X</button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 business" id="business_id" style="padding-right: 0px;padding-left: 0px">
      <img id="image-bus" src="../../../assets/images/careers/bd_2.png" alt="bus-div">
      <div class="row div8">
        <div class="col-md-12 in-image">
          <img src="../../../assets/images/careers/bus-dev-img.png" alt="bus-head">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 digital" id="digital_id" style="padding-right: 0px;padding-left: 0px">
      <img id="image-digital" src="../../../assets/images/careers/DM_2.png" alt="dm">
      <div class="row div9">
        <div class="col-md-12 in-image">
          <img src="../../../assets/images/careers/DM_3.png" alt="dm-head">
          <div class="close-button">
            <button>X</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 in-career in-career-first">
              <h2>RESPONSIBILITIES</h2>
              <ul>
                <li>End to End Campaign Planning & Management</li>
                <li>Digital Marketing Management</li>
                <li>AdWords PPC account management for clients in B2B, ecommerce and B2C verticals</li>
                <li>Operations and Processes</li>
                <li>Training and Recruitment</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>SKILLS</h2>
              <ul>
                <li>Manage Campaign budget allocations and implementation for Online and Offline Campaigns.</li>
                <li>Work with all Sales and Marketing teams to outline processes for Lead qualification and follow-up processes.</li>
                <li>SEO strategy and implementation at a granular level.</li>
                <li>Spearhead Facebook campaigns. Provided top down strategy for all accounts at the agency. Strategy and execution of Facebook campaigns.</li>
                <li>Social Media page management for clients</li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 in-career">
              <h2>WORK EXPERIENCE</h2>
              <ul>
                <li>
                    3 to 5 years
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 col-md-offset-4 in-career">
            <h2>SELECTION PROCESS</h2>
            <ul>
              <li>Send your resume and a brief summary of your interest in working with us to careers@tip.agency shortlisted profiles hear from us within one week.</li>
            </ul>          
          <form enctype="multipart/form-data" method="POST" action="" style="padding-left:5%">
          <div style="display:inline-block" class="col-md-6">
            <label>
              Attachment
              <input type="file" name="my_file" style="width:90%;font-size:8px">
            </label>
            <label style="display:none">
              Subject
              <input type="text" name="subject" value="Web Developer" style="width:90%;font-size:8px">
            </label>
          </div>
            <div style="display:inline-block" class="col-md-6">
            <label>
              Portfolio Link
              <input id="link" type="text" name="link" style="font-size:8px">
            </label>
          </div>
          <label style="padding-left:25%;padding-top:4%">
              <input class="btn btn-default" style="padding-left:10% !important; padding-right: 10% !important; text-transform: uppercase; background-color: #ffffff !important; color: #000 !important;" type="submit" name="button" value="Submit">
          </label>
        </form>
        </div>
      </div>
    </div>
  </div>
    <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>