<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>CRAFTED <br>HOLIDAYS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>LOGO, WEBSITE <br> CONTENT, NAMING <br> STATIONERY</h4>
      <h3></h3>
      <h2>Big messages need attention to small detail</h2>
      <p>We designed a minimal but easily-identifiable logo that epitomized the scape and scope of Crafted Holidays, whose select destinations dotted the globe.</p>
      <a href="http://www.craftedholidays.com/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/craftedholidays/craftedholiday-logo.jpg" alt="logo" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/craftedholidays/craftedlaptop.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/craftedholidays/craftedlaptop1.jpg" alt="laptop2" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/craftedholidays/craftedlaptop2.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/craftedholidays/stationery.jpg" alt="laptop4" width="99%">
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>