<div class="container">
  <div class="row">
    <div class="col-sm-12" id="team-title" style="padding:0px;">
      <h2>TEAM</h2>
    </div>
  </div>
  <div class="row team-hover" id="team-info">
      <p>
      <img src="../../../assets/images/Team/teamnew.jpg" alt="team">    
     Meet the gang! We're not actually penguins - although on any given day, you're quite likely to find us all huddled around the same table, hard at work! We are an eclectic group of creatives, with wide ranging interests and skills - which we harness to create bold, extraordinary solutions for all our clients. We also love sharing snacks, and setting up the projector to watch movies at the end of the work week!</p>
  </div>
</div>