<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>HELLO!</h2>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover">
        <a routerLink="/thiashola" target="_blank">
          <img src="../../../assets/images/Home/thiashola-homepage.jpg" alt="thaishola" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover">
        <a routerLink="/hos" target="_blank">
          <img src="../../../assets/images/Home/hos (2).jpg" alt="HOS" width="99%" style="width:367px;">
        </a>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h2 style="margin-top:35%;padding-left:5px; font-family: 'bodoni-webfont';">Looking to stand out <br> in the clutter?</h2>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 home-hover" style="padding-right:6px !important">
        <a routerLink="/kandavara" target="_blank">
            <img src="../../../assets/images/Home/kandavara-logo.jpg" alt="kandavara" width="99%" style="width:99.5%">
        </a>
    </div>
  </div>
  <div class="row index-row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-right:10px !important">
        <a routerLink="/savyasachi" target="_blank">
          <img src="../../../assets/images/Home/savyasachi.jpg" alt="savyasachi" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding-right:10px !important">
        <a routerLink="/akshara" target="_blank">
          <img src="../../../assets/images/Home/aksharanew.jpg" alt="akshara" width="99%">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 home-hover" style="padding:20px 0px 0px 20px !important">
      <div class="akshara_info">
        <h4>ABOUT US</h4>
        <h3 style="border-bottom: 3px solid #0072bc;width: 110px;"></h3>
        <p>At TIP, we have a holistic approach towards crafting a brand that captures the essence and scope of its enterprise. Collaborate with our dynamic team of tech and creative specialists to design a multi-faceted platform that gets your business noticed where you want it to be.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="row">
    <div class="col-md-12">
      <a routerLink="portfolio" target="_top">
        <button type="button" class="view-btn view-btn-default button-home">
          <p>VIEW MORE</p>
        </button>
      </a>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>