<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>SARAYU</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>LOGO <br> CONTENT <br> ILLUSTRATION <br> WEBSITE <br> STATIONERY <br> PRINT</h4>
      <h3></h3>
      <h2>Consistency is the <br>hallmark of excellence</h2>
      <p>Sarayu is a development with flats ranging from 6,300 sq ft. to 10,300 sq ft. Sarayu offers occupants the freedom of flowing spaces. The walls are not meant to be constraints but merely a canvas that residents can utilise to make this space their own.</p>
      <a href="http://www.savyasachisarayu.com/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/sarayu/sarayu1.jpg" alt="logo" width="105%" height="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/sarayu/sarayu2.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/sarayu/sarayu3.jpg" alt="laptop2" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/savyasachi/savyasachiimg3.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <!-- <h2 style="margin-top:20px;margin-bottom:10px">Being the best demands perfection</h2> -->
        <p style="bottom:0px"> Intelligent design forms the backbone of this principle, with flowing spaces seamlessly merging to provide residents a welcome reprise from conformity and clutter. Created with a distinctive design that offers residents malleability of their space, in their homes the focal point is the residents and their experience.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>