<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>THIASHOLA</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>ILLUSTARTION <br> E-COMMERCE WEBSITE</h4>
      <h3></h3>
      <h2>Making minimal comprehensive</h2>
      <p>Being avid tea-lovers ourselves, one of our most creatively rewarding undertakings was for this exclusive Nilgiri tea estate brand. We wanted to create a website for this fine locally-grown tea that would speak to tea connoisseurs across the globe and back home, alike.</p>
      <a href="http://thiashola.in/" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/thiashola/thiashola-new-home-img.jpg" alt="logo" width="99%" height="99%">
    </div>
  </div>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/thiashola/thiasholalaptop.jpg" alt="laptop1" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding-left:5px">
      <img src="../../../assets/images/clients-sub/thiashola/thiasholalaptop1.jpg" alt="laptop2" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/thiashola/thiasholalaptop2.jpg" alt="laptop3" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">A thousands words to a picture</h2>
        <p style="bottom:0px">Minimal yet comprehensive was our oxymoronic brief while creating a website that was easy to navigate while being rich in information. Trying to put across this information, succinctly, but not scrimping on the details was a challenge our tech and design teams were happy to sink their teeth into.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/thiashola/newthaishola.jpg" alt="img1" width="99%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/thiashola/newthaishola2.jpg" alt="img2" width="99%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <p style="bottom:0px">In sync with their logo and packaging, we created an elegant website design that would make it stand apart from the other local brands on a supermarket shelf. Finding just the right colour palette that relayed the calm freshness of Thiashola tea; we reviewed several options together with our client before settling for the perfect fit.</p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>