<div class="container">
  <div class="row">
    <div class="col-sm-12" id="software-title">
      <h2>SOFTWARE DESIGN <br> & DEVELOPMENT</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-software">
      <h4>MOBILE <br>
      APPLICATION</h4>
      <h3></h3>
      <h2>An idea is as good as <br>
      it's execution
      </h2>
      <p>We never lose sight of the consumer’s perspective while constructing a conducive experience on your mobile and website applications. Our developers are focused on building the framework backed by superior design for a seamless user-experience.</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/capabilities-sub/software/softwaredd.jpg" alt="software" width="85%" align="right">
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/capabilities-sub/software/softwaredd1.jpg" alt="software1" width="85%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 in-software">
      <h4>WEBSITE <br>DEVELOPMENT</h4>
      <div class="empty-space"></div>
      <h3></h3>
      <h2 style="margin-top:20px;margin-bottom:10px">Great design demands <br>and superior tech</h2>
      <p>No matter how fantastic an idea, there’s no use if it isn’t doesn’t translate into a flawlessly functional front end. We believe in creating glitch-free backend systems that convert the concepts that promote your brand into a reality. </p>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="row">
    <div class="col-md-12 cap-head title" style="text-align: center">
    <h2>
      CAPABILITIES
    </h2>
    </div>
  </div>
    <div class="row">
        <div class="col-md-12" style="border:1px solid;border-top:none;margin-left: 0%;width: 90%;">
          <div class="row">
            <div class="col-md-12" style="margin: 55px 0px 75px 90px;">
              <div class="row">
                <div class="col-md-4 cap-back">
                  <a routerLink="/branding" target="_blank">
                    <p style="text-align: center;top:25%">
                      <span style="font-weight:bold;font-size:18px">BRANDING</span>
                      <br>
                      <br>
                      Brand Development
                      <br>
                      Logo Identity
                      <br>
                      Style Guides
                      <br>
                      Naming
                    </p>
                  </a>
                </div>
                <div class="col-md-4 cap-back">
                  <a routerLink="/strategy" target="_blank">
                      <p style="text-align: center;top:25%">
                          <span style="font-weight:bold;font-size:18px">STRATEGY</span>
                          <br>
                          <br>
                          Research & Competitor Analysis
                          <br>
                          Content
                          <br>
                          Communication
                          <br>
                          Marketing
                        </p>
                  </a>
                </div>
                <div class="col-md-4 cap-back">
                    <a routerLink="/webdesign" target="_blank">
                      <p style="text-align: center;top:25%">
                        <span style="font-weight:bold;font-size:18px">WEBSITE DESIGN & DEVELOPEMENT</span>
                        <br>
                        <br>
                        Responsive Design
                        <br>
                        Developement
                        <br>
                        Content Management System
                        <br>
                        E-Commerce
                        </p>
                    </a>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-4 cap-back">
                    <a routerLink="/software" target="_blank">
                      <p style="text-align: center;top:25%">
                        <span style="font-weight:bold;font-size:18px">SOFTWARE DESIGN & DEVELOPEMENT</span>
                        <br>
                        <br>
                        Mobile Application
                        <br>
                        Website Application
                        <br>
                        User Interface Style Guides
                      </p>
                    </a>
                  </div>
                  <div class="col-md-4 cap-back">
                    <a routerLink="/video" target="_blank">
                        <p style="text-align: center;top:25%">
                            <span style="font-weight:bold;font-size:18px">VIDEO</span>
                            <br>
                            <br>
                            Ad Films
                            <br>
                            Animation
                          </p>
                    </a>
                  </div>
                  <div class="col-md-4 cap-back">
                      <a routerLink="/socialmedia" target="_blank">
                        <p style="text-align: center;top:25%">
                          <span style="font-weight:bold;font-size:18px">SEARCH & <br>
                            SOCIAL MEDIA</span>
                          <br>
                          <br>
                          Strategy
                          <br>
                          Content/Copy
                          <br>
                          Artwork
                          <br>
                          Campaign Management
                          <br>
                          Search Engine Optimization
                          </p>
                      </a>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4 cap-back">
                      <a routerLink="/content" target="_blank">
                        <p style="text-align: center;top:25%">
                          <span style="font-weight:bold;font-size:18px">CONTENT</span>
                          <br>
                          <br>
                          Short Copy
                          <br>
                          Long Copy
                          <br>
                          Social Media Copy
                        </p>
                      </a>
                    </div>
                    <div class="col-md-4 cap-back">
                      <a routerLink="/print" target="_blank"> 
                          <p style="text-align: center;top:25%">
                              <span style="font-weight:bold;font-size:18px">PRINT & <br> PACKAGING</span>
                              <br>
                              <br>
                              Packaging
                              <br>
                              Brand Collateral
                            </p>
                      </a>
                    </div>
                    <div class="col-md-4 cap-back">
                        <a routerLink="/illustration" target="_blank">
                          <p style="text-align: center;top:25%">
                            <span style="font-weight:bold;font-size:18px">ILLUSTRATIONS</span>
                            <br>
                            <br>
                            Icons
                            <br>
                            Commercial
                            <br>
                            Patterns
                            <br>
                            Typography
                            </p>
                        </a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>