<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>NIZANTA</h2>
    </div>
  </div>
  <div class="row" style="height:375px;">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>ILLUSTRATION <br>E - COMMERCE WEBSITE</h4>
      <h3></h3>
      <h2>Presenting India to <br>the rest of the worlds</h2>
      <p>Retailers for niche Indian products often have a tough time convincing prospective customers that they have the professionalism and élan to hold their ground on the international playing field.While the appeal of Nizanta’s elegant infusion of traditional Indian designs into contemporary forms of jewelry was undeniably relevant, they needed the right interface to assist their overseas ambitions.</p>
      <a href="" target="_blank" style="text-decoration: underline">View Project</a>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/portfolio/nizanta-logo.jpg" alt="head-img" width="99%">
    </div>
  </div>
  <div class="row">
  <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/nizanta/nizantalaptop.jpg" alt="laptop1" width="98%">
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px;">
    <img src="../../../assets/images/clients-sub/nizanta/nizantalaptop1.jpg" alt="laptop2" width="89%">
  </div>
</div>
<div class="row">
<div class="col-md-8 col-sm-12 col-xs-12">
  <img src="../../../assets/images/clients-sub/nizanta/nizantalaptop2.jpg" alt="laptop2" width="99%">
</div>
<div class="col-md-4 col-sm-12 col-xs-12">
  <div class="text-last-row">
  <h2 style="margin-top:0px;margin-bottom:10px">Constructing a conducive online shopping xperince</h2>
  <p style="bottom:0px;">At TIP, we understand how much a hitch-free surfing contributes towards converting a sale. Right from a smooth loading of each page, easy accessibility to the various categories, accurate display of the products to the final stages of placing an order, we stuck to our principal of providing a pleasurable virtual shopping journey to the end user. By clarifying and simplifying these processes for their customers, Nizanta was able to attract and cater to a much larger market.</p>
</div>
</div>
</div>
<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="empty-space"></div>
<div class="empty-space"></div>
</div>