#strategy-title h2{
    margin-top: 0px;
    letter-spacing: 12px;
    font-family: 'GothamLight';
    font-size: 2.8em;
}
.in-strategy h4{
    font-family: 'GothamBook';
    letter-spacing: 4px;
    margin-top: 0px;
    line-height: 27px;
    font-size:18px;
}
.in-strategy p{
    width:260px;
    font-size: 14px;
    font-family: 'GothamBook';
}
.in-strategy h3{
    border-bottom: 2px solid #0072bc;
    padding-bottom: 0px;
    width: 110px;
    margin-top: 0px;
}
.empty-space{
    padding:15px;
}
.in-strategy h2{
    font-family: 'bodoni-webfont';
}
.title{
    margin-top: 0px;
    letter-spacing: 12px;
    font-family: gotham-book;
    font-size: 2em;
}
.cap-head h2{
    display: inline-block;
    position: relative;
}
.cap-head h2::before{
    margin-top: 15px;
    content: "";
    position: absolute;
    height: 38px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    top: 0;
    width: 368px;
    right: 100%;
    margin-right: 15px;
}
.cap-head h2::after{
    margin-top: 15px;
    content: "";
    position: absolute;
    height: 38px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    top: 0;
    width: 369px;
    left: 100%;
    margin-left: 15px;
}
.cap-back{
    background-color: #f6f6f6;
    background-image: url(../../../assets/images/capabilities-sub/Rectangle.png) !important;
    background-position: 45% 45%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    max-width:25%;
    min-height: 285px;
}
.cap-back p{
    font-family: 'GothamBook';
    padding-top:50px;
    font-size:14px;
}
a{
    color:#000000;
}
a:hover{
    text-decoration: none;
}