<div class="container">
  <div class="row">
    <div class="col-sm-12" id="title">
      <h2>CRAFTED TRIPS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 in-title">
      <h4>LOGO, CONTENT <br> WEBSITE, NAMING <br> SOCIAL MEDIA</h4>
      <h3></h3>
      <h2>Stand out in the crowd</h2>
      <p>Having garnered a reputation for heralding unique ideas in a conventional market, Crafted Trips sought our expertise with the inauguration their start-up. With the onset of the travel boom, there were several existing tour operators and planners in the tourism space, but Crafted Trips had a much more grounded apparoach to travel.</p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/craftedtrip/craftedtrip-logo.jpg" alt="logo" width="99%">
    </div>
  </div>
  <div class="row" style="margin-bottom:20px">
    <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/craftedtrip/craftedtriplaptop.jpg" alt="laptop1" width="98%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="padding:0px">
      <img src="../../../assets/images/clients-sub/craftedtrip/craftedtriplaptop1.jpg" alt="laptop2" width="98%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <img src="../../../assets/images/clients-sub/craftedtrip/craftedtriplaptop2.jpg" alt="laptop3" width="100.5%">
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="text-last-row">
        <h2 style="margin-top:20px;margin-bottom:10px">Recreating a wonder of discovery</h2>
        <p style="bottom:0px">To pique the curiosity of the off-beat traveller, we designed a website that was rich with images evocative of the kind of experiences Crafted Trips had on offer.
        <br>Painstaking effort was put into finding a logo that would stand out from the noise in the tourism domain. After several fruitful ideating sessions, much trial and error, we settled on the the bicycle, because it conjured the spirit of adventure at a relaxed pace
      </p>
      </div>
    </div>
  </div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
  <div class="empty-space"></div>
</div>