.row{
    margin-bottom:7px;
}
#capability-title h2{
    margin-top: 0px;
    letter-spacing: 12px;
    font-family: 'GothamLight';
    font-size: 2.8em;
}
.img_bck{
    background-size: cover;
    width:30%;
    height: 383px;
    margin:10px;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
}
.img_cntent p{
    position: absolute;
    top: 34%;
    left: 31%;
    text-align: center;
    color:#707070;
}
.img_cntent span{
    color:#707070;
    font-weight: bold;
    font-size:18px;
}
.first_img img{
    display: block;
    position: absolute;
    width: 120%;
    top: -45px;
    left: -41px;
    z-index: 1000;
}
.rest_img img{
    position: absolute;
    width: 120%;
    top: -45px;
    left: -41px;
    z-index: 1000;
}
.col-lg-4, .col-md-4{
    max-width:31.333333% !important;
}
