.container{
    padding:0px !important;
}
#gaming-title h2{
    margin-top: 0px;
    letter-spacing: 12px;
    font-family: 'GothamLight';
    font-size: 2.8em;
}
.intro-para{
    margin-top: 25px;
    padding:0px !important;
}
.intro-para p{
    font-family: 'GothamBook';
    margin:0 0 10px 0;
    font-size:14px;
}
.intro-para h2{
    font-size:1.8em;
    font-family:'GothamLight';
    letter-spacing: 4px;
}
#team-title h2{
    font-size:1.8em;
    font-family:'GothamLight';
    letter-spacing: 4px;
}
#team-info p{
    width:95%;
    font-family: 'GothamBook';
    text-align:left;
    font-size:14px;
}
#team-info h4{
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 10px;
}
#team-info img{
    width:95%;
    margin:3px;
}
.more-info1, .more-info2, .more-info3, .more-info4{
    display:block;
}
