<div class="container">
  <div class="row" style="padding:0px">
    <div class="col-sm-12" id="gaming-title" style="padding:0px">
      <h2>GAMING</h2>
    </div>
  </div>
  <div class="row webgame" style="padding:0px !important">
    <iframe src="https://tip.agency/gamepage.html" style="width:100%;height:50vh;border:none">
    </iframe>
  </div>
  <div class="intro-para">
    <p>      
		  Even a single drop create ripples in a pond. But what happens when a lot of drops hit a pond’s surface? Imagine how much bigger that impact would be!
      Here at TIP, we have set out on a mission to use technology to create an impact in society. We have dubbed this approach as ‘Impact Technology’. Catchy ain’t it?
      TIP has embarked on this journey to create awareness in our own quirky way.
      <br>
      <br>
      This is our drop of impact.
    </p>
    <h2>
      Reality Check
    </h2>
    <p>
        The goal of this game is to start building in sensitivity to gender issues at a young age in order to build a new generation that will hopefully form a more egalitarian society in the future. India today is in the thick of grappling with gender oriented issues - ranging from institutionalised sexism to large-scale violence against women. Currently, this is being addressed through jurisprudence, rather than addressing the root of the problem - a cultural predilection towards sexism. To effect true change, change must happen both at a cultural and institutional level. 
        <br>
        <br>
        These attitudes and behaviours are learned. By having the key target audience for Reality Check be children, we are aiming to break the illusion of equality in the hope that children will unconsciously work towards more equitable relations between genders rather than perpetuating the unconscious sexism that is the status quo. 
      </p>
  </div>
  <div class="row">
    <div class="col-sm-12" id="team-title">
      <h2>
        Team
      </h2>
    </div>
  </div>
  <div class="row" id="team-info">
    <div class="col-sm-4" id="divya">
      <img src="../../../assets/images/gaming/Divya-hover.jpg" alt="CEO">
      <h4>Divya Hegde</h4>
      <p>Head Monster</p>
      <p>Founder and CEO of digital agency The Integrated Penguin (TIP), Divya Hegde has built a company from a two-person start-up into a thriving full-service agency.
      TIP now services clients based in Bangalore, New York, Dubai, Paris and London to name a few. <span class="more-info1" style="font-style:italic;color:#000;cursor:pointer;">Read More...</span>
      <span class="full-info1" style="display:none">
        <br>
        Apart from TIP, Divya is invested in developing heritage properties into profitable and eco-friendly home-stays in Karnataka’s coastal countryside to encourage tourism and foster the local economy. 
        <br>
        <br>
        A Catalyst at CWE (Catalyst for Women Entrepreneurship) - CWE is India’s ecosystem for women entrepreneurs to start up and scale up their enterprises, providing them with access to finance, markets, information, technology, business skills, mentors and advisors.
        <br>
        <br>
        Divya is a Google alumnus with a Master of Science focused in Integrated Marketing Communications from Northwestern University. She has substantial experience marketing to Indian and international consumers. Divya believes in simplifying the sometimes confusing world of digital marketing to achieve the best sales results. 
              <span id="less-info1" style="font-style:italic;color:#000;cursor:pointer;"><br>
        Less</span>
      </span>
    </p> 
    <a href="https://www.linkedin.com/in/divyahegde2/" target="_blank">
      <img src="../../../assets/images/gaming/linkden.png" alt="linkden" style="width:30px">
    </a>
    </div>
    <div class="col-sm-4" id="poornima">
      <img src="../../../assets/images/gaming/Poornima-hover.jpg" alt="poornima">
      <h4>Poornima Seetharaman</h4>
      <p>Head Bard</p>
      <p>Poornima is the Ultimate Boss at the Gaming Division of The Integrated Penguin.
        <br>
        <br>Poornima’s interest in games guided her to the gaming industry, where she has worked for some of the best in the business since 2006, including Indiagames (Disney India), Jumpstart, GSN, etc. 
        She took her passion forward by setting up her own game. <span class="more-info2" style="font-style: italic;color:#000;cursor:pointer">Read More...</span>
        <span class="full-info2" style="display:none">
        <br>
        development venture, Pinaka Interactive. She has worked across a wide variety of genres, including casual games, free to play games, FPS, RPG, MMO, social casino and augmented reality.
        <br>
        <br>
        Apart from this, she has helped push the Indian gaming industry forward. She has curated, judged and spoken at various design festivals and conferences. She was one of the founding members of the NASSCOM Gaming Forum’s Special Interest Group on Women In Games. Poornima is also visiting faculty, project consultant and curriculum committee member at the National Institute of Design.
        <span id="less-info2" style="font-style: italic;color:#000;cursor:pointer"><br>
          Less</span> 
        </span>
      </p>
      <a href="https://www.linkedin.com/in/poornimaseetharaman/" target="_blank">
        <img src="../../../assets/images/gaming/linkden.png" alt="linkden" style="width:30px">
      </a>
    </div>
    <div class="col-sm-4" id="Partho">
      <img src="../../../assets/images/gaming/Partho.jpg" alt="Partho">
      <h4>Partho Sengupta</h4>
      <p>Head Mage</p>
      <p>
      Partho has never met a monster (virtual or otherwise) he hasn’t slayed. He is the Technical Advisor for the Gaming Division of The Integrated Penguin. 
      <br>
      <br>
      Partho spent several years started out as a programmer  in 2000 at Citicorp, before respawning in the gaming industry. 
      <span class="more-info3" style="font-style:italic;color:#000;cursor:pointer">Read More...</span>
      <span class="full-info3" style="display: none">
      <br>
      He has played a pivotal role as the Engine Lead at Indiagames (now Disney, India), developing ICE 3D, their  to developing their proprietary 3D Game Engine. He has also spent time at companies like EA, GSN and Jumpstart working on a wide range of formats in 3D gaming including MMORPG and Augmented Reality. He is currently traversing the frontiers of machine learning and artificial intelligence. 
      <br>
      <br>
      Partho is also engaged in honing up-and-coming talent at  associated with the esteemed National Institute of Design, where he is as a  visiting faculty, project consultant and curriculum committee member.
      <span id="less-info3" style="font-style:italic;color:#000;cursor:pointer"><br>
      Less</span>
    </span> 
      </p>
      <a href="https://www.linkedin.com/in/partho-sengupta-62bb457/" target="_blank">
        <img src="../../../assets/images/gaming/linkden.png" alt="linkedin" style="width:30px">
      </a>
    </div>
  </div>
  <div class="row" id="team-info">
    <div class="col-sm-4" id="amit">
      <img src="../../../assets/images/gaming/amit.jpg" alt="amit">
      <h4>Amit Barde</h4>
      <p>Sound Hack</p>
      <p>Amit is currently a Research Fellow at the EmpathicComputing Lab based at the Auckland Bioengineering Institute, University of Auckland.
        His research interests at the lab include investigating the use of biosensors such as EEG (Electroencephalograph) in collaborative Augmented Reality (AR) environments and
        the use of spatial audio feedback for enhanced information delivery, immersion and presence in virtual environments.
        <span class="more-info4" style="font-style: italic;color: #000;cursor: pointer;">Read More...</span>
        <span class="full-info4" style="display: none">
        <br>
        Amit earned his PhD from the HITLab NZ at the University of Canterbury in June 2018. His research explored the use of spatialised auditory and visual cues for efficient information
        presentation in wearable devices. Amit also has extensive experience as a sound designer, having worked on a number of short films, theatre productions and corporate campaigns over the last ten years.
        He brings a unique blend of artistic flair and technical know how that helps provide a well-rounded understanding of client requirement. In addition to this, he also has experience managing both technical
        and creative teams across a range of projects. 
        <span id="less-info4" style="font-style: italic;color: #000;cursor: pointer;"><br>
        Less</span>
        </span>
      </p>
      <a href="https://www.linkedin.com/in/amitbarde85/" target="_blank">
        <img src="../../../assets/images/gaming/linkden.png" alt="linkedin" style="width:30px">
      </a>
    </div>
  </div>
</div>