<div class="container">
    <div class="row">
      <div class="col-sm-12" id="print-title">
        <h2 style="margin-bottom:20px;">PRINT & <br> PACKAGING</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 in-print">
        <h4>PACKAGING DESIGN</h4>
        <h3 style="margin-bottom:20px;"></h3>
        <h2>Love at First Sight.</h2>
        <p>If clothes maketh the man, then the key to presenting your product in it’s final marketplace is to make it visually attractive and reflective of the product’s qualities. Our holistic approach to design, typography and overall presentation of the product is fine-tuned to reflecting the contents within in the most honest yet attractive form.</p>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="../../../assets/images/capabilities-sub/print/print.jpg" alt="print1" width="85%" align="right">
      </div>
    </div>
    <div class="empty-space"></div>
      <div class="empty-space"></div>
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <img src="../../../assets/images/capabilities-sub/print/print1.jpg" alt="print2" width="85%"> 
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 in-print">
          <div class="empty-space"></div>
          <div class="empty-space"></div>
        <h4>BRAND COLLATERALS</h4>
        <h3></h3>
        <!-- <h2>make the most of <br> guerilla's advertising!</h2> -->
        <!-- <p>With our handle on search engine optimization, we also find the most feasible gateways to advertise your product. Be it coming up with most expedient tags, choosing the most opportune moment to make an announcement, creating catchy content or riding the viral wave, we structure a vivacious online presence for your brand. </p> -->
      </div>
    </div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="row">
        <div class="col-sm-12 in-print">
          <h4>EXAMPLES OF WORK</h4>
          <h3></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 example1" id="hudabar">
          <img (click)="open1()" id="ex-img1" src="../../../assets/images/portfolio/huda.jpg" alt="huda">
          <div class="row div1" style="display:none" id="div1">
            <div class="container-fluid">
              <div class="container">
                <app-huda-bar></app-huda-bar>
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, minima a pariatur animi eligendi accusamus magnam nostrum voluptates deserunt ipsa odit dolore. Voluptatem velit accusamus error itaque, minima totam voluptate.</p> -->
                <div class="close-button">
                  <button (click)="close('div1')">X</button>
                </div>
              </div>
            </div>
          </div>
          <h3 id="img-name1">HUDA BAR</h3>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 example2" id="savyasachi">
          <img (click)="open2()" id="ex-img2" src="../../../assets/images/capabilities-sub/branding/savya.jpg" alt="savya">
          <div class="row div2" style="display:none" id="div2">
            <div class="container-fluid">
              <div class="container">
                <app-savyasachi></app-savyasachi>
                <div class="close-button">
                  <button (click)="close('div2')">X</button>
                </div>
              </div>
            </div>
          </div>
          <h3 id="img-name2">SAVYASACHI</h3>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 example3" id="rosebay">
          <img (click)="open3()" id="ex-img3" src="../../../assets/images/capabilities-sub/print/rosebay.jpg" alt="rosebay">
          <div class="row div3" style="display:none" id="div3">
            <div class="container-fluid">
              <div class="container">
                <!-- <app-lakeview></app-lakeview>
                <div class="close-button">
                  <button (click)="close('div3')">X</button>
                </div> -->
              </div>
            </div>
          </div>
          <h3 id="img-name3">ROSEBAY</h3>
        </div>  
      </div>
      <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="row">
      <div class="col-md-12 cap-head title" style="text-align: center">
      <h2>
        CAPABILITIES
      </h2>
      </div>
    </div>
      <div class="row">
          <div class="col-md-12" style="border:1px solid;border-top:none;margin-left: 0%;width: 90%;">
            <div class="row">
              <div class="col-md-12" style="margin: 55px 0px 75px 90px;">
                <div class="row">
                  <div class="col-md-4 cap-back">
                    <a routerLink="/branding" target="_blank">
                      <p style="text-align: center;top:25%">
                        <span style="font-weight:bold;font-size:18px">BRANDING</span>
                        <br>
                        <br>
                        Brand Development
                        <br>
                        Logo Identity
                        <br>
                        Style Guides
                        <br>
                        Naming
                      </p>
                    </a>
                  </div>
                  <div class="col-md-4 cap-back">
                    <a routerLink="/strategy" target="_blank">
                        <p style="text-align: center;top:25%">
                            <span style="font-weight:bold;font-size:18px">STRATEGY</span>
                            <br>
                            <br>
                            Research & Competitor Analysis
                            <br>
                            Content
                            <br>
                            Communication
                            <br>
                            Marketing
                          </p>
                    </a>
                  </div>
                  <div class="col-md-4 cap-back">
                      <a routerLink="/webdesign" target="_blank">
                        <p style="text-align: center;top:25%">
                          <span style="font-weight:bold;font-size:18px">WEBSITE DESIGN & DEVELOPEMENT</span>
                          <br>
                          <br>
                          Responsive Design
                          <br>
                          Developement
                          <br>
                          Content Management System
                          <br>
                          E-Commerce
                          </p>
                      </a>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4 cap-back">
                      <a routerLink="/software" target="_blank">
                        <p style="text-align: center;top:25%">
                          <span style="font-weight:bold;font-size:18px">SOFTWARE DESIGN & DEVELOPEMENT</span>
                          <br>
                          <br>
                          Mobile Application
                          <br>
                          Website Application
                          <br>
                          User Interface Style Guides
                        </p>
                      </a>
                    </div>
                    <div class="col-md-4 cap-back">
                      <a routerLink="/video" target="_blank">
                          <p style="text-align: center;top:25%">
                              <span style="font-weight:bold;font-size:18px">VIDEO</span>
                              <br>
                              <br>
                              Ad Films
                              <br>
                              Animation
                            </p>
                      </a>
                    </div>
                    <div class="col-md-4 cap-back">
                        <a routerLink="/socialmedia" target="_blank">
                          <p style="text-align: center;top:25%">
                            <span style="font-weight:bold;font-size:18px">SEARCH & <br>
                              SOCIAL MEDIA</span>
                            <br>
                            <br>
                            Strategy
                            <br>
                            Content/Copy
                            <br>
                            Artwork
                            <br>
                            Campaign Management
                            <br>
                            Search Engine Optimization
                            </p>
                        </a>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 cap-back">
                        <a routerLink="/content" target="_blank">
                          <p style="text-align: center;top:25%">
                            <span style="font-weight:bold;font-size:18px">CONTENT</span>
                            <br>
                            <br>
                            Short Copy
                            <br>
                            Long Copy
                            <br>
                            Social Media Copy
                          </p>
                        </a>
                      </div>
                      <div class="col-md-4 cap-back">
                        <a routerLink="/print" target="_blank">
                            <p style="text-align: center;top:25%">
                                <span style="font-weight:bold;font-size:18px">PRINT & <br> PACKAGING</span>
                                <br>
                                <br>
                                Packaging
                                <br>
                                Brand Collateral
                              </p>
                        </a>
                      </div>
                      <div class="col-md-4 cap-back">
                          <a routerLink="/illustration" target="_blank">
                            <p style="text-align: center;top:25%">
                              <span style="font-weight:bold;font-size:18px">ILLUSTRATIONS</span>
                              <br>
                              <br>
                              Icons
                              <br>
                              Commercial
                              <br>
                              Patterns
                              <br>
                              Typography
                              </p>
                          </a>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
   </div>